@tailwind base;
@tailwind components;
@tailwind utilities;

/*================ VARIAVEIS GLOBAIS ================ */
:root {

    --firt-color: #FF9E0B;
    --body-container : #FBF7ED;
}

/* body {
    background-color: var(--firt-color) !important;
} */

/* .slot-container {
    position: relative;
} */

/* .slot-container::after {
    background-color: #fff;
    content: "";
    display: block;
    height: 100vh;
    min-height: 100%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    max-width: 590px;
    z-index: -1;
}

@media (max-width: 768px) {
    .slot-container::after {
        width: 100%;
        height: 100%;
    }
} */

.login__body_wrapper {
    align-items: center;
    background-color: var(--body-container);
    display: flex;
    min-height: 100vh;
    overflow-x: hidden;
    width: 100%;
}

.login__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1260px;
    min-height: 100%;
    width: 100%;
}

.login__box_logo {
    background-color: var(--firt-color);
    max-width: 500px;
    padding: 90px 0;
    position: relative;
    width: 50%;
}

.login__box_logo::after {
    background-color: var(--firt-color);
    content: "";
    display: block;
    height: 100vh;
    min-height: 100%;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 5000px;
    z-index: 0;
}

.login__box_logo-data {
    max-width: 380px;
    position: relative;
    width: 100%;
    z-index: 2;
    margin: auto;
}

@media screen and (max-width: 1290px) {
    .login__box_logo-data {
        margin: auto;
        width: 90%;
    }
}

input#email, input#password {
    border-color: var(--firt-color) !important;
}

.focus\:ring-indigo-500:focus {
    --tw-ring-color: var(--firt-color) !important;
}

.login__box-form {
    width: 50%;
}

.login__box-form-data {
    max-width: 656px;
    width: 100%;
}

.login__box-form-title {
    color: var(--firt-color);
    font-size: 3rem;
    text-align: center;
    padding-bottom: 2rem;
}

@media screen and (max-width: 1024px) {
    .login__box-form-datab {
        width: 90%;
    }
}

input:focus {
    outline: none;
}

input:focus-visible {
    border: 1px solid var(--firt-color) !important; 
}

.bt4r {
    border-radius: 34px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: var(--firt-color);
    color: white;
    font-size: 1.2rem;
}

.box-btn { 
    flex-direction: column-reverse;
}

.box-btn--register {
    padding-top: 10px;
}

